body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Navbar */

nav {
    width: 100%;
}

.navbar-one {
    width: 100%;
    height: 43px;
    color: white;
    background-color: black;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-break: 23px;
    font-family: 'Roboto', sans-serif;
}
.content a{
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}
.left > div,
.center > div,
.right > div {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar-second {
    background-color: white;
    height: 80px;
    
}

.logo {
    color: #B31918;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-transform: unset;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    width: 160px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #B31918;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.active{
    color: #B31918;
}
 
/* End Navbar */